language: node_js
sudo: true
node_js:
- 6.11.5
cache:
  directories:
  - node_modules
addons:
  ssh_known_hosts: github.com
before_install:
- bash ./.travis/checkout_secret.sh
script:
- npm run build
- npm run dist
#- npm run upload
branches:
  only:
  - master
  - dev
  - release
env:
  global:
